.container {
  width: 120px;

  .range {
    position: relative;
    width: 100%;

    input[type='range'] {
      width: 100%;
    }

    .bubble {
      position: absolute;
      transform: translateX(-50%);

      display: flex;
      justify-content: center;

      padding-top: 5px;

      color: darkcyan;

      &::before {
        content: '';

        position: absolute;
        bottom: 80%;
        left: 50%;
        transform: translateX(-50%);

        border-right: 6px solid transparent;
        border-bottom: 8px solid grey;
        border-left: 6px solid transparent;
      }
    }
  }
}
